*{
    margin: 0;
    padding: 0;
}


.main{
    background-image: url("assests/image/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative;
    z-index: 10;
}

body{
    background-color: black;
}

.main .box{
    width: 100%;
    height: 70vh;
    opacity: 0.6;
    background-color: black;
    position: absolute;
    top: 0;
    z-index: 100;
}

nav{
    display: flex;
    max-width: 80vw;   
    align-items: center;
    justify-content: space-between;
    margin: auto;
    position: relative;
    z-index: 1000;
    padding: 10px;
    height: 60px;
}

nav img{
    height: 50px;
    margin: 12px;
}

button{
    padding: 3px;
    font-size: smaller;
    font-weight: 400
}

.hero{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 101;
    color: white;
    align-items: center;
    justify-content: center;
    height: calc(100% - 60px);
    gap: 8px;
    padding: 20px;
    text-align: center;
}   

.hero .heading{
    font-size: 60px;
    margin: 2px;   
    text-align: center;
}

.hero span{
    font-size: 21px;
}
.hero input{
    font-size: 20px;
    padding: 2px;
    margin-top: 40px;
    text-align: center;
}

.line{
    height: 10px;
    background-color: grey;
    width: 100vw;
}